form(action="/new", method="post")
  label(for="name") Name: 
  input(type="text", id="name", name="name")

  label(for="message") Text: 
  textarea(id="message", name="message")

  input(type="submit", value="Submit")